@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.noscroll {
    overflow: hidden;
}


:root {
    --toastify-color-error: #FC4747 !important;
    --toastify-icon-color-error: white !important;
    --toastify-font-family: 'Zilla Slab',
        serif !important;
}


.Toastify__toast.Toastify__toast--error {
    border: 2px solid #FC4747 !important;
}

.Toastify__toast-icon {
    color: white !important;
}

.Toastify__toast {
    border-radius: 13px !important;
}


.circle-style {
    fill: #FDF5FF;
    box-shadow: 32px 8px 46px 19px rgba(179, 136, 235, 0.40) inset;
    filter: drop-shadow(0px 8px 8px rgba(179, 136, 235, 0.25));
}
